/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    color: #333;
}

header {
    background: linear-gradient(135deg, #5A8F2D, #9BCA64); /* verde do campo + toque urbano */
    padding: 30px 0;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-container h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
}

.header-container p {
    font-size: 1.3rem;
    font-style: italic;
}

.main-content {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: -40px;
    border-radius: 8px;
}

.main-content h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #4F4F4F;
}

.main-content p {
    font-size: 1.2rem;
    color: #666;
}

.highlights {
    display: flex;
    justify-content: space-between;
    margin: 60px 10%;
    flex-wrap: wrap;
}

.highlight-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.highlight-card:hover {
    transform: scale(1.05);
}

.highlight-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.highlight-card h3 {
    font-size: 1.8rem;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.highlight-card p {
    font-size: 1.1rem;
    color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1.2rem; /* Aumento no tamanho do texto */
}

@media (max-width: 768px) {
    .highlights {
        flex-direction: column;
        align-items: center;
    }

    .highlight-card {
        width: 80%; /* Ajuste para telas pequenas */
    }

    footer p {
        font-size: 1.1rem; /* Ajuste para maior legibilidade em dispositivos móveis */
    }
}
